.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

a {
    color: aqua ;
    text-decoration: none;
}

.active {
    color: gold;
}

.dialogsItems {
    padding: 10px;
}


.messages {
    padding: 10px;
}

.message {

}

