.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

a {
    color: aqua ;
    text-decoration: none;
}

.active {
    color: gold;
}

.dialogsItems {
    padding: 10px;
}
.dialog img {
    width: 60px;
    border-radius: 30px;

}


.messages {
    padding: 10px;
}

.message {

}

